        <style>
            .grey-card p a {
                text-decoration: none;
                font-size: 20px;
            }
        </style>
        <div class="container">
            <div class="two-columns inner-indent">
                <div class="two-columns-item flex">
                    <div class="grey-card">
                        <h3>Want to get involved?</h3>
                        <p>We’re a distributed community of 240 contributors strong, from all corners of the world and all walks of life united in our desire to build the best data management system on the internet. Come aboard!</p>
                        <p>If you love <a href="https://www.linkedin.com/feed/hashtag/?keywords=data&highlightedUpdateUrns=urn%3Ali%3Aactivity%3A6798393137502003200" target="_blank" rel="noopener">#data</a> and <a href="https://www.linkedin.com/feed/hashtag/?keywords=python&highlightedUpdateUrns=urn%3Ali%3Aactivity%3A6798393137502003200" target="_blank" rel="noopener">#python</a> then join one of the weekly <a href="https://hack.allmende.io/ckan-meeting" target="_blank" rel="noopener">Dev Meetings</a>. These are open to anyone so feel free to drop by and ask questions or just listen in. Maybe you can even help with issues marked as <a href="https://github.com/ckan/ckan/issues?q=is%3Aissue+is%3Aopen+label%3A%22Good+for+Contribution%22" target="_blank" rel="noopener">Good for Contribution</a> or tackle some of the project's Rockstar Tickets listed <a href="https://github.com/ckan/ckan/projects/4" target="_blank" rel="noopener">here</a>.</p>
                        <ul>
                            <li><a href="https://gitter.im/ckan/chat" target="_blank" rel="noopener" class="link">
                                Chat to us on Gitter
                            <svg width="14" height="20" viewBox="0 0 14 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 0H1.91947V12.6679H0V0ZM11.6699 3.07099H13.5893V12.6679H11.6699V3.07099ZM3.91557 3.07099H5.83489V20H3.91557V3.07099ZM7.75437 3.07099H9.67384V20H7.75437V3.07099Z" fill="#0000EE"/>
                            </svg>
                            </a></li>
                            <li><a href="https://hack.allmende.io/ckan-meeting" target="_blank" rel="noopener" class="link">
                                Join Dev Meetings 
                            </a></li>
                        </ul>
                    </div>
                </div>
                <div class="two-columns-item flex">
                    <div class="grey-card">
                        <h3>Need help with CKAN?</h3>
                        <p>If you’re stuck on anything, chances are the answers awaits you on Stackoverflow or in <a class="black" href="/">the docs</a>. <a href="https://github.com/ckan/ckan/discussions" target="_blank" rel="noopener">GitHub Discussions</a> is the place to connect with the community, share your projects and ask questions or support requests about CKAN.</p>
                        <p>If you want to report a bug or an actual issue with the CKAN software or documentation, please post it on the <a href="https://github.com/ckan/ckan/issues" target="_blank" rel="noopener">issue tracker</a>. For security related issues please email <a href="mailto:security@ckan.org">security@ckan.org</a>.</p>
                        <br>
                        <ul>
                            <li><a href="https://github.com/ckan/ckan/discussions" target="_blank" rel="noopener" class="link">
                                GitHub Discussions
                            </a></li>
                            <li><a href="https://stackoverflow.com/questions/tagged/ckan" target="_blank" rel="noopener">
                                Check Stackoverflow
                                <svg width="16" height="20" viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11.1568 12.8021L3.5 10.9451L3.87151 9.4137L11.5284 11.2707L11.1568 12.8021Z" fill="#0000EE"/>
                                    <path d="M11.6702 10.9702L4.6543 7.38517L5.37123 5.98181L12.3871 9.56699L11.6702 10.9702Z" fill="#0000EE"/>
                                    <path d="M12.7516 9.07241L6.81836 3.88851L7.85496 2.70203L13.7884 7.88558L12.7516 9.07223" fill="#0000EE"/>
                                    <path d="M14.3838 7.40399L9.95898 0.885143L11.2631 0L15.6877 6.5192L14.384 7.40417" fill="#0000EE"/>
                                    <path d="M11.0342 14.7175L3.16699 14.288L3.25286 12.7145L11.1201 13.144L11.0342 14.7175Z" fill="#0000EE"/>
                                    <path d="M12.6658 18.4241V11.8959H14.2402L14.2413 20H0L0.000352647 11.8892H1.57615V18.4241H12.6658Z" fill="#0000EE"/>
                                    <path d="M3.14551 15.2786H11.0779V16.8544H3.14551V15.2787V15.2786Z" fill="#0000EE"/>
                                </svg>
                            </a></li>
                            <li><a href="https://github.com/ckan/ckan/issues" target="_blank" rel="noopener">
                                Create an issue on Github
                                <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0)">
                                        <path d="M10.7409 0C5.13181 0 0.588867 4.54294 0.588867 10.1521C0.588867 14.9231 3.86258 18.8828 8.27938 19.9991C8.2284 19.8721 8.20335 19.6941 8.20335 19.517V17.7907H6.93412C6.24897 17.7907 5.61392 17.4866 5.33485 16.9276C5.0048 16.3185 4.95382 15.3793 4.1166 14.7952C3.86258 14.5922 4.06563 14.3891 4.3447 14.4142C4.87779 14.5663 5.30893 14.9222 5.71501 15.4545C6.12109 15.9876 6.29908 16.1146 7.06027 16.1146C7.41537 16.1146 7.97352 16.0895 8.48156 16.0126C8.76063 15.3015 9.24275 14.6674 9.82681 14.3632C6.42609 13.9571 4.80176 12.2818 4.80176 9.99741C4.80176 9.00726 5.2329 8.06808 5.94397 7.25592C5.71588 6.46881 5.41088 4.84448 6.04593 4.2103C7.56917 4.2103 8.48242 5.20045 8.71052 5.4536C9.47171 5.19959 10.3098 5.04752 11.1721 5.04752C12.0603 5.04752 12.8724 5.19959 13.6336 5.4536C13.8617 5.19959 14.7758 4.2103 16.2982 4.2103C16.9073 4.81942 16.6283 6.46881 16.3742 7.25592C17.0853 8.04303 17.4914 9.00726 17.4914 9.99741C17.4914 12.2818 15.8921 13.9571 12.5173 14.3123C13.4565 14.7944 14.1166 16.1647 14.1166 17.1799V19.492C14.1166 19.568 14.0915 19.644 14.0915 19.7201C18.0504 18.3497 20.893 14.5939 20.893 10.1521C20.893 4.54294 16.3501 0 10.7409 0Z" fill="#0000EE"/>
                                    </g>
                                    <defs>
                                        <clipPath id="clip0">
                                            <rect width="20.3041" height="20" fill="white" transform="translate(0.588867)"/>
                                        </clipPath>
                                    </defs>
                                </svg>
                            </a></li>
                            <li>
                                <a href="https://gitter.im/ckan/chat" target="_blank" rel="noopener">
                                    Chat to us on Gitter
                                    <svg width="14" height="20" viewBox="0 0 14 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 0H1.91947V12.6679H0V0ZM11.6699 3.07099H13.5893V12.6679H11.6699V3.07099ZM3.91557 3.07099H5.83489V20H3.91557V3.07099ZM7.75437 3.07099H9.67384V20H7.75437V3.07099Z" fill="#0000EE"/>
                                    </svg>
                                </a>
                            </li>
                            {% comment %} <li><a href="/">
                                Report security issue
                                <svg width="8" height="13" viewBox="0 0 8 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M2.00009 0.855957L0.590088 2.26596L5.17009 6.85596L0.590088 11.446L2.00009 12.856L8.00009 6.85596L2.00009 0.855957Z" fill="#0000EE"/>
                                </svg>
                            </a></li> {% endcomment %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>