@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600&display=swap");
@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SFProDisplay-Regular/SFProDisplay-Regular.eot");
  src: url("../fonts/SFProDisplay-Regular/SFProDisplay-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-Regular/SFProDisplay-Regular.woff2") format("woff2"), url("../fonts/SFProDisplay-Regular/SFProDisplay-Regular.woff") format("woff"), url("../fonts/SFProDisplay-Regular/SFProDisplay-Regular.ttf") format("truetype"), url("../fonts/SFProDisplay-Regular/SFProDisplay-Regular.svg#SFProDisplay-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SF Pro Display Bold";
  src: url("../fonts/SFProDisplay-Bold/fontsfree-net-sfprodisplay-bold-webfont.woff2") format("woff2"), url("../fonts/SFProDisplay-Bold/fontsfree-net-sfprodisplay-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
  display: block;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  max-height: 1000000px;
}

body {
  font: 400 20px/1.3 "SF Pro Display", sans-serif;
  background: #fff;
  min-width: 320px;
  color: #000;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

strong,
b {
  font-weight: 700;
}

figure {
  margin-left: 0;
  margin-right: 0;
}

figcaption {
  text-align: center;
  font-size: 16px;
  margin-top: 10px;
  color: #666;
}
@media all and (max-width: 767px) {
  figcaption {
    font-size: 12px;
    line-height: 16px;
  }
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, .h {
  margin: 0 0 10px;
  font-family: "SF Pro Display Bold", sans-serif;
  color: #000;
  position: relative;
}
@media all and (min-width: 768px) {
  h1:last-child, .h1:last-child, h2:last-child, .h2:last-child, h3:last-child, .h3:last-child, h4:last-child, .h4:last-child, h5:last-child, .h5:last-child, h6:last-child, .h6:last-child, .h:last-child {
    margin: 0;
  }
}

h1, .h1 {
  font-size: 50px;
  line-height: 54px;
  font-weight: 800;
  margin: 0 0 16px;
}

h2, .h2 {
  font-size: 40px;
  font-weight: 800;
  line-height: 42px;
  color: #333;
}

h3, .h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 800;
}

h4, .h4 {
  font-size: 24px;
  font-weight: 500;
}

h5, .h5 {
  font-size: 24px;
  font-weight: 500;
}

h6, .h6 {
  font-size: 20px;
  font-weight: normal;
}

a {
  text-decoration: underline;
  color: #0000EE;
  outline: none;
  font-weight: 400;
  font-size: 18px;
  transition: color 0.3s ease-in-out;
}
a:hover, a:focus {
  text-decoration: none;
  color: #0000EE;
}

p {
  margin: 0;
}
p:not(:last-child) {
  margin: 0 0 30px;
}
@media all and (max-width: 767px) {
  p:not(:last-child) {
    margin-bottom: 20px;
  }
}

.text {
  font-size: 24px;
  line-height: 28px;
  color: #1C1C1C;
}
@media all and (max-width: 767px) {
  .text {
    font-size: 18px;
    line-height: 24px;
  }
}

@media all and (max-width: 1024px) {
  h1, .h1 {
    font-size: 28px;
    line-height: 32px;
  }

  h2, .h2 {
    font-size: 24px;
    line-height: 30px;
  }

  h3, .h3 {
    font-size: 18px;
    line-height: 23px;
  }

  h4, .h4 {
    font-size: 16px;
    line-height: 24px;
  }

  h5, .h5 {
    font-size: 14px;
    line-height: 22px;
  }

  .text {
    font-size: 18px;
    line-height: 24px;
  }

  a {
    font-size: 16px;
  }
}
@media all and (max-width: 767px) {
  p {
    font-size: 16px;
    line-height: 20px;
  }
}
.container, .container-sm, .container-md, .container-lg {
  margin: 0 auto;
  max-width: 1326px;
  width: 100%;
  padding: 0 18px;
}

.container-lg {
  max-width: 1396px;
}

.container-md {
  max-width: 1106px;
}

.container-sm {
  max-width: 886px;
}

.container-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.m-t-100 {
  margin-top: 100px;
}
@media all and (max-width: 767px) {
  .m-t-100 {
    margin-top: 64px;
  }
}

.m-100 {
  margin-top: 100px;
  margin-bottom: 100px;
}
@media all and (max-width: 767px) {
  .m-100 {
    margin-top: 64px;
    margin-bottom: 64px;
  }
}

.mt-32 {
  margin-top: 32px;
}

.mb-56 {
  margin-bottom: 56px;
}

@media all and (max-width: 767px) {
  .container-flex {
    flex-direction: column;
    justify-content: flex-start;
  }
}
.btn {
  background: #0000EE;
  color: #fff;
  outline: none;
  border: 2px solid #0000EE;
  padding: 7px 20px;
  min-width: 44px;
  line-height: 1.3;
  cursor: pointer;
  font-weight: 400;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  flex-shrink: 0;
  transition: border 0.3s ease-in-out, color 0.3s ease-in-out, background 0.3s ease-in-out;
  font-size: 20px;
  border-radius: 6px;
}
.btn svg path {
  fill: #fff;
  transition: fill 0.3s ease-in-out;
}
@media all and (max-width: 767px) {
  .btn {
    font-size: 16px;
    justify-content: center;
  }
}
@media all and (max-width: 350px) {
  .btn {
    padding: 7px;
    width: 100%;
    text-align: center;
  }
}
.btn:active, .btn:focus, .btn:hover {
  color: #0000EE;
  background: #fff;
}
.btn:active svg path, .btn:focus svg path, .btn:hover svg path {
  fill: #0000EE;
}
.btn.btn-black {
  border: 2px solid #000;
  color: #000;
  background: transparent;
}
.btn.btn-black svg path {
  fill: #000;
}
.btn.btn-black:active, .btn.btn-black:focus, .btn.btn-black:hover {
  background: #000;
  color: #fff;
}
.btn.btn-black:active svg path, .btn.btn-black:focus svg path, .btn.btn-black:hover svg path {
  fill: #fff;
}
.btn.btn-grey {
  background: transparent;
  border: 2px solid #333;
  color: #333;
}
.btn.btn-grey svg path {
  fill: #333;
}
.btn.btn-grey:active, .btn.btn-grey:focus, .btn.btn-grey:hover {
  background: #333;
  color: white;
}
.btn.btn-grey:active svg path, .btn.btn-grey:focus svg path, .btn.btn-grey:hover svg path {
  fill: #fff;
}
.btn.btn-sm {
  padding: 6.5px 12px;
  font-size: 15px;
  line-height: 1;
  font-weight: 800;
  border-radius: 100px;
  font-family: "SF Pro Display Bold", sans-serif;
}
.btn.btn-lg {
  border-radius: 100px;
  padding: 16px 34px;
  font-size: 18px;
  font-weight: 600;
}
.btn.btn-lg-br {
  border-radius: 100px;
}
.btn svg {
  margin-right: 5px;
}
.btn.send {
  background: #0000EE url("../img/icon-send.svg") no-repeat;
  background-position: center;
}

form,
fieldset {
  margin: 0;
  padding: 0;
  border-style: none;
}

input[type=text],
input[type=tel],
input[type=email],
input[type=search],
input[type=password],
input[type=file],
#id_how_you_heard_about_us,
textarea {
  width: 100%;
  height: 44px;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.3;
  padding: 9px 14px;
  border: 1px solid #999;
  border-radius: 0;
  color: #1C1C1C;
  display: block;
  font-family: "SF Pro Display", sans-serif;
  outline: none;
  -webkit-appearance: none;
  background: transparent;
  transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out;
  margin-right: 10px;
}
@media all and (min-width: 600px) {
  input[type=text],
input[type=tel],
input[type=email],
input[type=search],
input[type=password],
input[type=file],
textarea {
    max-width: 410px;
  }
}
@media all and (max-width: 599px) {
  input[type=text],
input[type=tel],
input[type=email],
input[type=search],
input[type=password],
input[type=file],
textarea {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
input[type=text]::-webkit-input-placeholder,
input[type=tel]::-webkit-input-placeholder,
input[type=email]::-webkit-input-placeholder,
input[type=search]::-webkit-input-placeholder,
input[type=password]::-webkit-input-placeholder,
input[type=file]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #888;
  transition: color 0.3s ease-in-out;
}
input[type=text]::-moz-placeholder,
input[type=tel]::-moz-placeholder,
input[type=email]::-moz-placeholder,
input[type=search]::-moz-placeholder,
input[type=password]::-moz-placeholder,
input[type=file]::-moz-placeholder,
textarea::-moz-placeholder {
  opacity: 1;
  color: #888;
  transition: color 0.3s ease-in-out;
}
input[type=text]:-moz-placeholder,
input[type=tel]:-moz-placeholder,
input[type=email]:-moz-placeholder,
input[type=search]:-moz-placeholder,
input[type=password]:-moz-placeholder,
input[type=file]:-moz-placeholder,
textarea:-moz-placeholder {
  color: #888;
  transition: color 0.3s ease-in-out;
}
input[type=text]:-ms-input-placeholder,
input[type=tel]:-ms-input-placeholder,
input[type=email]:-ms-input-placeholder,
input[type=search]:-ms-input-placeholder,
input[type=password]:-ms-input-placeholder,
input[type=file]:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #888;
  transition: color 0.3s ease-in-out;
}
input[type=text].placeholder,
input[type=tel].placeholder,
input[type=email].placeholder,
input[type=search].placeholder,
input[type=password].placeholder,
input[type=file].placeholder,
textarea.placeholder {
  color: #888;
  transition: color 0.3s ease-in-out;
}
input[type=text]:focus,
input[type=tel]:focus,
input[type=email]:focus,
input[type=search]:focus,
input[type=password]:focus,
input[type=file]:focus,
textarea:focus {
  border-color: #666;
}
input[type=text]:focus::-webkit-input-placeholder,
input[type=tel]:focus::-webkit-input-placeholder,
input[type=email]:focus::-webkit-input-placeholder,
input[type=search]:focus::-webkit-input-placeholder,
input[type=password]:focus::-webkit-input-placeholder,
input[type=file]:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: #333;
}
input[type=text]:focus::-moz-placeholder,
input[type=tel]:focus::-moz-placeholder,
input[type=email]:focus::-moz-placeholder,
input[type=search]:focus::-moz-placeholder,
input[type=password]:focus::-moz-placeholder,
input[type=file]:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  opacity: 1;
  color: #333;
}
input[type=text]:focus:-moz-placeholder,
input[type=tel]:focus:-moz-placeholder,
input[type=email]:focus:-moz-placeholder,
input[type=search]:focus:-moz-placeholder,
input[type=password]:focus:-moz-placeholder,
input[type=file]:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
  color: #333;
}
input[type=text]:focus:-ms-input-placeholder,
input[type=tel]:focus:-ms-input-placeholder,
input[type=email]:focus:-ms-input-placeholder,
input[type=search]:focus:-ms-input-placeholder,
input[type=password]:focus:-ms-input-placeholder,
input[type=file]:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
  color: #333;
}
input[type=text]:focus.placeholder,
input[type=tel]:focus.placeholder,
input[type=email]:focus.placeholder,
input[type=search]:focus.placeholder,
input[type=password]:focus.placeholder,
input[type=file]:focus.placeholder,
textarea:focus.placeholder {
  color: #333;
}
input[type=text]:-webkit-autofill:active, input[type=text]:-webkit-autofill:focus, input[type=text]:-webkit-autofill:hover, input[type=text]:-webkit-autofill,
input[type=tel]:-webkit-autofill:active,
input[type=tel]:-webkit-autofill:focus,
input[type=tel]:-webkit-autofill:hover,
input[type=tel]:-webkit-autofill,
input[type=email]:-webkit-autofill:active,
input[type=email]:-webkit-autofill:focus,
input[type=email]:-webkit-autofill:hover,
input[type=email]:-webkit-autofill,
input[type=search]:-webkit-autofill:active,
input[type=search]:-webkit-autofill:focus,
input[type=search]:-webkit-autofill:hover,
input[type=search]:-webkit-autofill,
input[type=password]:-webkit-autofill:active,
input[type=password]:-webkit-autofill:focus,
input[type=password]:-webkit-autofill:hover,
input[type=password]:-webkit-autofill,
input[type=file]:-webkit-autofill:active,
input[type=file]:-webkit-autofill:focus,
input[type=file]:-webkit-autofill:hover,
input[type=file]:-webkit-autofill,
textarea:-webkit-autofill:active,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill {
  -webkit-text-fill-color: #1C1C1C;
  -webkit-box-shadow: 0 0 0 36px #1C1C1C inset;
}

textarea {
  width: 100%;
  height: 60px;
  resize: none;
  vertical-align: top;
  padding: 9px 14px;
}

button,
input[type=button],
input[type=reset],
input[type=file],
input[type=submit] {
  cursor: pointer;
  border-radius: 6px;
  -webkit-appearance: none;
}

label {
  margin-bottom: 2px;
  display: block;
  color: #666;
  font-size: 12px;
}

.error {
  position: relative;
}
.error label {
  color: #ED5248;
}
.error input[type=text],
.error input[type=tel],
.error input[type=email],
.error input[type=search],
.error input[type=password],
.error input[type=file],
.error textarea {
  border-color: #ED5248;
  color: #ED5248;
}

.error-message {
  background: #ED5248;
  color: #fff;
  font-size: 11px;
  padding: 1px 8px;
  margin-top: 11px;
  position: absolute;
}
.error-message:before {
  content: "";
  display: block;
  border-bottom: 9px solid #ED5248;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  margin-top: -9px;
  width: 9px;
}

.custom-checkbox input {
  display: none;
}
.custom-checkbox a {
  margin: 0 5px;
  font-size: 14px;
}
.custom-checkbox label {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  cursor: pointer;
  padding-left: 36px;
  font-size: 14px;
  color: #1C1C1C;
}
.custom-checkbox label:before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  border: 1px solid #aaa;
  position: absolute;
  left: 0;
  top: 0;
}
.custom-checkbox label:hover:before {
  border-color: #333;
}
.custom-checkbox label a {
  color: #ED5248;
}
.custom-checkbox label a:hover {
  color: #1C1C1C;
  text-decoration: underline;
}
.custom-checkbox input:checked + label:before {
  background: #ED5248;
  border-color: #ED5248;
}
.custom-checkbox input:checked + label:after {
  content: "";
  display: block;
  width: 6px;
  height: 12px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  position: absolute;
  top: 5px;
  left: 9px;
}

blockquote {
  font-size: 16px;
  font-family: "SF Pro Display Bold", sans-serif;
  text-align: center;
  color: #fff;
  margin: 0 0 43px;
  font-weight: 400;
  line-height: 1.7;
  position: relative;
  padding: 62px 0 0;
}
blockquote .icon-left-quote {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 30px;
  top: 0;
}
blockquote q {
  opacity: 0.85;
}
blockquote q:not(:last-child) {
  margin: 0 0 45px;
  display: block;
}
blockquote q:after, blockquote q:before {
  content: none;
}
blockquote cite {
  display: inline-block;
  vertical-align: top;
  font-style: normal;
  text-transform: uppercase;
  font-family: "SF Pro Display", sans-serif;
  font-size: 14px;
}
blockquote cite:not(:last-child) {
  margin: 0 0 10px;
}

.row {
  margin: 0 0 30px;
}
@media all and (min-width: 600px) {
  .row {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.col-sm {
  width: 25%;
  padding: 0 15px;
}

.col-md {
  width: 33.3333333333%;
  padding: 0 15px;
  display: flex;
}

.col-lg {
  width: 66.6666666667%;
  padding: 0 15px;
}

@media all and (max-width: 1024px) {
  .col-sm {
    width: 50%;
  }

  .row {
    margin: 0 0 20px;
  }
}
@media all and (max-width: 767px) {
  .col-sm, .col-lg, .col-md {
    width: 100%;
  }
}
.input-row {
  margin: 0 -16px 15px;
  display: flex;
  flex-wrap: wrap;
}
.input-row:last-of-type {
  margin-bottom: 0;
}
.input-row:last-of-type .input-col-lg {
  margin-bottom: 0;
}

.input-col-md {
  width: 50%;
  padding: 0 16px;
  margin: 0 0 35px;
}

.input-col-lg {
  width: 100%;
  padding: 0 16px;
  margin: 0 0 35px;
}

@media all and (max-width: 767px) {
  .input-col-md {
    width: 100%;
  }
}
.section-banner {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 100%;
}
.section-banner h1 {
  margin-bottom: 32px;
}
@media all and (max-width: 767px) {
  .section-banner h1 {
    margin-bottom: 22px;
  }
}

.link {
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
}
.link:hover {
  text-decoration: underline;
}
.link svg {
  margin-left: 8px;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 32px;
}
@media all and (max-width: 767px) {
  .banner {
    flex-wrap: wrap;
    margin-top: 0;
  }
}

.banner-info {
  flex-grow: 0;
  flex-shrink: 0;
  width: 100%;
}
@media all and (min-width: 768px) {
  .banner-info {
    width: 40%;
    flex-basis: 40%;
  }
}
@media all and (max-width: 767px) {
  .banner-info {
    order: 2;
  }
}
.banner-info .row {
  justify-content: flex-start;
}
@media all and (min-width: 600px) {
  .banner-info .row input[type=text] {
    max-width: 380px;
  }
}

@media all and (min-width: 768px) {
  .banner-animation {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 60%;
    width: 60%;
    min-height: 444px;
  }
}
@media all and (max-width: 1280px) {
  .banner-animation {
    min-height: 320px;
  }
}
@media all and (max-width: 1023px) {
  .banner-animation {
    min-height: 240px;
  }
}
@media all and (min-width: 1185px) {
  .banner-animation img {
    max-width: none;
  }
}
@media all and (max-width: 767px) {
  .banner-animation {
    order: 1;
    margin: 0 auto 25px;
    min-height: 0;
  }
}

.count {
  margin: 30px 0;
  padding: 0;
  list-style: none;
}
@media all and (min-width: 768px) {
  .count {
    display: flex;
    margin: 80px 0;
  }
}
.count .h1 {
  color: #333;
  margin-bottom: 4px;
  display: inline-block;
}
@media all and (min-width: 768px) {
  .count .h1 {
    margin-bottom: 10px;
  }
}
.count li {
  margin-bottom: 20px;
  margin-right: 40px;
  text-align: center;
}
@media all and (min-width: 768px) {
  .count li {
    margin-right: 5%;
    margin-bottom: 0;
    max-width: 250px;
  }
}

.partners p {
  font-size: 16px;
  color: #666;
}
.partners ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media all and (max-width: 767px) {
  .partners ul {
    justify-content: flex-start;
    overflow: auto;
  }
}
.partners ul li {
  margin: 12px 25px;
}
@media all and (max-width: 767px) {
  .partners ul li {
    margin: 12px 10px;
    flex-shrink: 0;
  }
}
@media all and (max-width: 767px) {
  .partners ul li img {
    max-height: 36px;
    max-width: 100px;
  }
}

.feature .feature-box {
  margin-bottom: 30px;
}
.feature .two-columns-item {
  display: flex;
  align-items: center;
  justify-content: center;
  order: 2;
}
@media all and (min-width: 768px) {
  .feature .two-columns-item.order {
    order: 1;
  }
}
.feature .two-columns-item .two-columns-item-info {
  max-width: 475px;
}
.feature .two-columns-item .two-columns-item-info > img {
  margin-bottom: 26px;
}
@media all and (max-width: 767px) {
  .feature .two-columns-item .two-columns-item-info > img {
    margin-bottom: 15px;
  }
}
.feature .two-columns-item .two-columns-item-info p,
.feature .two-columns-item .two-columns-item-info .h3,
.feature .two-columns-item .two-columns-item-info .h1 {
  margin-bottom: 8px;
}
.feature .two-columns-item .two-columns-item-info .h3 {
  color: #666;
}
.feature .two-columns-item .two-columns-item-info p {
  font-size: 18px;
}
@media all and (max-width: 767px) {
  .feature .two-columns-item .two-columns-item-info p {
    font-size: 14px;
  }
}

.read-more {
  color: #ED5248;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  font-size: 20px;
}
.read-more:hover {
  text-decoration: underline;
  color: #ED5248;
}
.read-more img {
  margin-left: 9px;
}
@media all and (max-width: 767px) {
  .read-more {
    font-size: 16px;
  }
}

.feature-list {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}
@media all and (max-width: 767px) {
  .feature-list {
    max-height: 370px;
  }
}
@media all and (min-width: 768px) {
  .feature-list {
    display: flex;
    flex-wrap: wrap;
  }
}
.feature-list li {
  display: flex;
  margin: 40px 0 20px;
}
@media all and (min-width: 768px) {
  .feature-list li {
    width: 48%;
  }
}
.feature-list .feature-list-icon {
  margin-right: 32px;
  min-width: 76px;
}
@media all and (min-width: 768px) {
  .feature-list .feature-list-info {
    max-width: 410px;
  }
}
.feature-list .feature-list-info p,
.feature-list .feature-list-info .h2 {
  margin-bottom: 4px;
}
.feature-list .feature-list-info p {
  font-size: 18px;
  padding-right: 10px;
}
@media all and (max-width: 767px) {
  .feature-list .feature-list-info p {
    font-size: 14px;
    line-height: 18px;
  }
}
.feature-list + a {
  margin: 20px 0;
}
@media all and (min-width: 350px) {
  .feature-list + a {
    margin-left: 108px;
  }
}

.post {
  margin-bottom: 60px;
}
@media all and (max-width: 767px) {
  .post {
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.15);
    padding: 20px 14px;
    background: #fff;
    margin: 0 -14px 10px;
  }
}
@media all and (min-width: 768px) {
  .post {
    display: flex;
    align-items: center;
  }
}
.post .post-img {
  height: 155px;
  position: relative;
}
@media all and (max-width: 767px) {
  .post .post-img {
    margin-bottom: 10px;
  }
}
@media all and (min-width: 768px) {
  .post .post-img {
    order: 2;
    flex-basis: 50%;
    flex-shrink: 0;
    height: 390px;
  }
}
.post .post-img img {
  width: auto;
  height: 100%;
  object-fit: cover;
  font-family: "object-fit: cover;";
}
.post .post-info {
  background: #fff;
}
@media all and (min-width: 768px) {
  .post .post-info {
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.15);
    padding: 30px;
    flex-basis: 70%;
    margin-right: -20%;
    position: relative;
    z-index: 1;
  }
}
.post .post-info .date {
  margin-bottom: 10px;
  display: block;
  font-size: 15px;
  line-height: 16px;
  text-transform: uppercase;
}
@media all and (max-width: 767px) {
  .post .post-info .date {
    font-size: 11px;
  }
}
.post .post-info .h2 {
  color: #000;
  font-size: 30px;
}
.post .post-info p {
  margin-bottom: 0;
}
@media all and (min-width: 768px) {
  .post .post-info p {
    margin-bottom: 10px;
  }
}
.post .post-info a {
  text-decoration: none;
}
.post .post-info a:hover {
  text-decoration: underline;
}

.post.first {
  position: relative;
  margin-top: 50px;
}
@media all and (min-width: 768px) {
  .post.first .post-img {
    flex-basis: 100%;
    height: 500px;
    order: 1;
  }
}
@media all and (min-width: 768px) {
  .post.first .post-info {
    margin-right: 0;
    margin-left: 10%;
    position: absolute;
    width: 59%;
    bottom: -40px;
  }
}

.ground {
  background: #f3f3f3;
  margin-top: -180px;
  padding-top: 200px;
  overflow: hidden;
}
@media all and (max-width: 767px) {
  .ground {
    padding-top: 146px;
  }
}

.pagination {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagination li {
  margin: 0 13px;
}
.pagination li a {
  color: #333;
  text-decoration: none;
}
.pagination li a:active, .pagination li a:hover {
  color: #333;
  text-decoration: underline;
}
.pagination li.prev svg {
  transform: rotate(180deg);
  margin-right: 6px;
}
.pagination li.prev svg path {
  fill: #333;
}
@media all and (min-width: 768px) {
  .pagination li.prev {
    margin-right: 45px;
  }
}
@media all and (max-width: 767px) {
  .pagination li.prev a {
    font-size: 0;
    line-height: 0;
  }
}
.pagination li.next svg {
  margin-left: 6px;
}
.pagination li.next svg path {
  fill: #333;
}
@media all and (min-width: 768px) {
  .pagination li.next {
    margin-left: 45px;
  }
}
@media all and (max-width: 767px) {
  .pagination li.next a {
    font-size: 0;
    line-height: 0;
  }
}
.pagination li.disabled a {
  color: #999;
  pointer-events: none;
}
.pagination li.disabled svg path {
  fill: #999 !important;
}

.white-box {
  background: #fff;
  border: 1px solid #eee;
  border-radius: 12px;
  padding: 40px;
  margin: 30px 0;
}
@media all and (max-width: 767px) {
  .white-box {
    padding: 20px;
  }
}
@media all and (min-width: 768px) {
  .white-box {
    display: flex;
    align-items: center;
  }
}

.subscribe > div {
  margin-bottom: 24px;
}
@media all and (min-width: 768px) {
  .subscribe > div {
    margin-bottom: 0;
  }
}
.subscribe p {
  font-size: 18px;
  margin-bottom: 0;
}
@media all and (max-width: 767px) {
  .subscribe p {
    font-size: 14px;
  }
}
.subscribe form {
  flex: 1 0 auto;
}
.subscribe form .row {
  margin-bottom: 0;
  justify-content: flex-end;
}

.mb0 {
  margin-bottom: 0;
}

.government-working-group {
  background: #F3F3F3;
  border: 1px solid #DDDDDD;
  padding: 0 19px;
}
.government-working-group + .government-working-group {
  margin-top: -1px;
}

@media all and (min-width: 768px) {
  .gwg-columns {
    display: flex;
    justify-content: space-around;
  }
}
@media all and (min-width: 768px) {
  .gwg-columns .gwg-columns-item {
    width: 26.5%;
  }
}

.gwg-card {
  margin-bottom: 35px;
}
.gwg-card .gwg-card-img {
  width: 100%;
  height: 160px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.2);
  margin-bottom: 16px;
}
.gwg-card .gwg-card-img a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}
.gwg-card .gwg-card-info p {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 0;
  color: #000;
}
@media all and (min-width: 768px) {
  .gwg-card .gwg-card-info p {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
  }
}
.gwg-card .gwg-card-info a {
  text-decoration: none;
  font-size: 14px;
}
.gwg-card .gwg-card-info a:hover {
  text-decoration: underline;
}
@media all and (min-width: 768px) {
  .gwg-card .gwg-card-info a {
    font-size: 16px;
  }
}

@media all and (min-width: 768px) {
  .gwg-two-cols {
    display: flex;
  }
}
.gwg-two-cols .gwg-two-cols-text {
  color: #333;
  position: relative;
  z-index: 1;
}
@media all and (min-width: 768px) {
  .gwg-two-cols .gwg-two-cols-text {
    flex-basis: 65%;
    padding: 35px 30px 0;
  }
}
.gwg-two-cols .gwg-two-cols-img {
  margin-right: -19px;
  height: 180px;
  position: relative;
  margin-top: 30px;
}
@media all and (min-width: 768px) {
  .gwg-two-cols .gwg-two-cols-img {
    flex-basis: 60%;
    margin-left: -15%;
    margin-top: 0;
    height: 260px;
  }
}
.gwg-two-cols .gwg-two-cols-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  font-family: "object-fit: cover;";
}

.image-to-corners {
  background: #f4f4f4;
  align-items: flex-end;
}
@media all and (min-width: 768px) {
  .image-to-corners {
    background: #fff;
    border-radius: 22px;
    overflow: hidden;
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.2);
    display: flex;
  }
}
.image-to-corners .image-to-corners-info {
  padding: 15px 12px;
}
@media all and (min-width: 768px) {
  .image-to-corners .image-to-corners-info {
    padding: 40px;
    width: 50%;
  }
}
@media all and (min-width: 768px) {
  .image-to-corners .image-to-corners-img {
    width: 50%;
    margin-top: 20px;
    max-height: 240px;
  }
}
.image-to-corners .image-to-corners-img img {
  width: 100%;
  height: auto;
}

.article-bread-crumbs {
  margin: 0 0 30px;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.article-bread-crumbs li {
  padding: 0 22px;
  margin-bottom: 10px;
  position: relative;
  font-size: 16px;
  color: #666;
}
.article-bread-crumbs li:after {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  background: #ccc;
  border-radius: 5px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.article-bread-crumbs li:last-of-type:after {
  display: none;
}

.article h3 {
  color: #444;
}

.article h1, .article h2, .article h3, .article h4, .article h5, .article h6, .article img {
  padding: 50px 0 20px 0;
}
.article pre {
  margin: 50px 0;
}

.more-posts-bottom {
  margin-top: 40px;
  padding-top: 1px;
  margin-bottom: -30px;
  padding-bottom: 60px;
  background: #f4f4f4;
}

.message_404_500 {
  height: 550px;
  text-align: center;
  padding-top: 200px;
}

.post .post-info a:hover {
  text-decoration: none;
}

.wrapper {
  position: relative;
  overflow: hidden;
}

.main {
  position: relative;
  z-index: 1;
  padding-top: 120px;
}
@media all and (max-width: 1023px) {
  .main {
    padding-top: 64px;
  }
}

.flex-box {
  margin-bottom: 25px;
}
@media all and (min-width: 768px) {
  .flex-box {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .flex-box p {
    margin-bottom: 0;
    font-size: 18px;
  }
}

.flex {
  display: flex;
}

.v-center {
  align-items: center;
}

.t-center {
  text-align: center;
}
.t-center img {
  margin: 0 auto;
}

@media all and (max-width: 767px) {
  .m-centered {
    display: flex;
    justify-content: center;
  }
}

.centered {
  display: flex;
  justify-content: center;
}

.between {
  justify-content: space-between;
}

.red {
  color: #ED5248;
}

.grey {
  color: #333;
}
.grey:hover {
  color: #333;
}

.black {
  color: #000;
}
.black:hover {
  color: #000;
}

.separator {
  margin: 50px auto;
  height: 1px;
  background: #aaa;
  width: 190px;
}
@media all and (max-width: 767px) {
  .separator {
    margin: 32px auto;
  }
}
.separator.alt {
  background: transparent;
}

.dark-black-bg {
  background: #111;
  padding: 48px 0;
  color: #fff;
}
@media all and (min-width: 1024px) {
  .dark-black-bg {
    padding: 96px 0;
  }
}
.dark-black-bg h4,
.dark-black-bg h3,
.dark-black-bg h2 {
  color: #fff;
}

.grey-bg {
  background: #F4F4F4;
  padding: 10px 0;
}

.gradient {
  position: relative;
}
.gradient:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 400px;
  bottom: 100%;
  z-index: -1;
  background: -moz-linear-gradient(top, #ffffff 0%, #f4f4f4 100%);
  background: -webkit-linear-gradient(top, #ffffff 0%, #f4f4f4 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #f4f4f4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#ffffff", endColorstr="#f4f4f4",GradientType=0 );
}

.indent {
  margin-top: 60px;
  margin-bottom: 60px;
}
@media all and (max-width: 767px) {
  .indent {
    margin-bottom: 24px;
  }
}

.inner-indent {
  padding-bottom: 40px;
}

.mobile-controls {
  position: relative;
}

@media all and (max-width: 767px) {
  .mobile-hidden {
    display: none !important;
  }
}
@media all and (min-width: 768px) {
  .desktop-hidden {
    display: none !important;
  }
}
.text-block.bottom-text {
  display: table;
  margin: 0 auto;
}

.text-block {
  max-width: 850px;
  margin-bottom: 50px !important;
}
.text-block .h1 {
  max-width: 740px;
}
.text-block .h1 + p {
  font-size: 18px;
}

.upper {
  text-transform: uppercase;
  color: #444;
  font-size: 24px;
  line-height: 16px;
}

.body_extra_large {
  font-size: 24px;
  line-height: 28px;
  color: #333;
}
@media all and (max-width: 767px) {
  .body_extra_large {
    font-size: 18px;
    line-height: 24px;
  }
}

.ckan-git {
  margin-top: 0px !important;
  background: white;
  -ms-flex: 0 0 440px;
  flex: 0 0 440px;
  border: 1px solid #ebebed;
  margin: 0px 5%;
  padding: 10px;
  border-radius: 4px;
  position: relative;
  margin-top: 50px;
}

.ckan-git-repo-text {
  color: #5b626c;
  font-size: 14px;
  padding: 3px;
}

.ckan_git_link {
  text-decoration: none;
}

.powering_text {
  font-size: 20px !important;
}

.modal__title {
  color: #333 !important;
}

.modal__btn-primary {
  background-color: #333 !important;
}

.modal__btn {
  float: left;
}

.modal__content textarea {
  height: 80px;
}

.modal__footer {
  width: 50%;
}

.modal__container {
  overflow-x: hidden;
}

.contactFormError::-webkit-input-placeholder {
  color: #d86a6a !important;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  height: 30%;
  text-align: center;
}

.modal-content h4 {
  margin-top: 50px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #0000EE;
  text-decoration: none;
  cursor: pointer;
}

.footer {
  margin-bottom: -40px;
}
.footer #contact {
  display: inline-block;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.07em;
  color: #555;
  text-decoration: none;
}

#extension-link {
  text-decoration: none;
}
#extension-link p {
  color: #111;
}

.developers,
.stewards {
  margin-top: 40px;
}

.developers {
  padding-bottom: 0px;
}

.government-working-group {
  padding-top: 50px;
}

.feature-list li {
  padding: 0px 5%;
}

.skan-for-card-block:hover {
  cursor: pointer;
}

.quotes-slider.top {
  margin: 90px 0px !important;
}

input[type=text]:-webkit-autofill {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

#stewards {
  height: 90px;
}

.commercial-title {
  padding-top: 40px;
  font-weight: 300;
  font-size: 28px;
}

.commercial-subtitle {
  padding-top: 20px;
  font-size: 18px;
}

.commercial-item {
  padding: 10px;
  background-color: #fff;
  border: 1px solid #f8f8f8;
  position: relative;
  padding-bottom: 40px;
}

.commercial-item-dummy {
  border: none;
}

.commercial-items {
  padding: 30px 0px 60px 0px;
}

.commercial-info {
  padding-left: 30px;
  padding-bottom: 30px;
}
.commercial-info a:hover {
  text-decoration: none !important;
}

.commercial-name {
  color: #c0392b;
}

.commercial-level {
  padding-top: 10px;
  font-size: 14px;
  color: #999;
  font-style: italic;
}

.commercial-about {
  padding-top: 25px;
  color: #767676;
  font-size: 16px;
}

.commercial-bottom {
  padding: 10px 0 10px 30px;
  position: absolute;
  color: #999;
  font-size: 16px;
  bottom: 0px;
  width: 95%;
  border-top: 1px solid #f8f8f8;
}

.commercial-details {
  color: #c0392b;
  font-size: 16px;
  display: block;
  float: right;
  margin-right: 30px;
}

.commercial-details:hover {
  color: #c0392b;
  text-decoration: none !important;
}

.commercial-date {
  float: left;
}

.middle-page-table {
  display: table;
  margin: 0 auto;
}

.speak-with-us-home #contact {
  font-size: 0px;
  display: block;
  width: 210px;
  height: 50px;
  text-decoration: none;
  color: white;
  background: #0000EE;
  color: #fff;
  outline: none;
  border: 2px solid #0000EE;
  padding: 7px 20px;
  line-height: 1.3;
  cursor: pointer;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  flex-shrink: 0;
  transition: border 0.3s ease-in-out, color 0.3s ease-in-out, background 0.3s ease-in-out;
  border-radius: 6px;
}
.speak-with-us-home #contact:hover {
  background: #fff;
  color: #0000EE;
}
.speak-with-us-home #contact:after {
  content: "Schedule a meeting";
  font-size: 16px;
  font-weight: 400;
  font-size: 20px;
}

#stewards_link {
  font-size: 20px;
}

.speak-with-us a,
.get-started a,
.block-paragraph a {
  font-size: 20px;
}

.banner-info a {
  font-size: 20px;
}
.banner-info .text {
  font-size: 20px;
  line-height: 26px;
}

.feature-img {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
}

.card.commercial img {
  box-shadow: none;
}

input.waiting[type=text] {
  background: url("../img/spin.gif") no-repeat;
  background-position: right 10px top 6px;
}

#let_us_know {
  margin-bottom: 0px;
}

#let_us_know + .row {
  display: inline-block;
}
#let_us_know + .row a {
  font-size: 0px;
}
#let_us_know + .row a:after {
  content: "let us know";
  font-size: 20px;
}

.social #link {
  background: url("../img/Globe.svg") no-repeat;
  display: block;
  width: 20px;
  height: 20px;
}
.social #link:hover {
  background: url("../img/Globe-black.svg") no-repeat;
}

#contact-modal p {
  margin-bottom: 5px;
}
#contact-modal p label {
  float: left;
  text-align: left;
}
#contact-modal p input[type=text],
#id_how_you_heard_about_us {
  height: 30px;
  margin-bottom: 10px;
  padding: 5px;
  font-size: 16px;
}
#id_how_you_heard_about_us {
  color: #444;
  width: 410px;
  background: url("../img/select_arrow_down.svg") no-repeat;
  background-position: right 5px top 5px;
}
#contact-modal p textarea {
  margin-bottom: 10px;
  font-size: 16px;
}
#contact-modal p input[type=checkbox] {
  position: absolute;
  left: 30px;
  top: 464px;
}
#contact-modal label[for=id_i_consent_to_ckanorg_sending_me_marketing_emails_i_would_like_to_sign_up_to_receive_email_updates_from_ckanorg] {
  padding: 0px 40px 15px 20px;
}

#dropbtn-Solutions,
#dropbtn-Support {
  background-color: transparent;
  border: none;
  width: 100%;
  cursor: pointer;
  color: #666;
  font-family: "SF Pro Display Bold", sans-serif;
  display: flex;
  align-items: center;
  font-weight: 800;
  transition: all 0.3s ease-in-out;
  font-size: 15px;
  text-decoration: none;
  margin-right: 30px;
  background: url("../img/arr-grey.png") no-repeat;
  background-position: right 20px bottom 3px;
}
@media (max-width: 1024px) {
  #dropbtn-Solutions,
#dropbtn-Support {
    font-size: 16px;
    line-height: 20px;
  }
}

#dropbtn-Solutions.active,
#dropbtn-Support.active {
  color: #111;
  background: url("../img/arr-black.png") no-repeat;
  background-position: right 20px bottom 3px;
}

#dropbtn-Solutions.opened,
#dropbtn-Support.opened,
#dropbtn-Solutions.opened:hover,
#dropbtn-Support.opened:hover {
  color: #111;
  background: url("../img/arr-black-up.png") no-repeat;
  background-position: right 20px bottom 3px;
}

#dropbtn-Solutions:focus,
#dropbtn-Support:focus {
  outline: 0;
}

#dropbtn-Solutions:hover,
#dropbtn-Support:hover {
  color: #111;
  background: url("../img/arr-black.png") no-repeat;
  background-position: right 20px bottom 3px;
}

.dropdown {
  position: relative;
  display: inline-block;
}
@media (max-width: 1024px) {
  .dropdown {
    padding: 13px 7vw;
  }
  .dropdown button {
    padding-left: 0px;
  }
}

.dropdown-content {
  margin-top: 10px;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 190px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  cursor: pointer;
  color: #666;
  font-family: "SF Pro Display Bold", sans-serif;
  display: flex;
  align-items: center;
  font-weight: 800;
  transition: all 0.3s ease-in-out;
  font-size: 15px;
  text-decoration: none;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.show {
  display: block;
}

.footer {
  padding: 40px 0;
  background: #f4f4f4;
}
@media all and (min-width: 768px) {
  .footer .two-columns .two-columns-item:first-of-type {
    width: calc( 55% - 15px);
  }
  .footer .two-columns .two-columns-item:last-of-type {
    width: calc( 44.5% - 15px);
  }
}
.footer #contact {
  font-weight: bold;
  font-size: 18px;
}
.footer span {
  display: inline-block;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.07em;
  color: #555;
}
.footer p {
  color: #333;
  font-size: 16px;
}
.footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer ul li {
  margin-bottom: 20px;
}
@media all and (min-width: 768px) {
  .footer ul {
    display: flex;
    align-items: center;
  }
  .footer ul li:first-of-type {
    margin-right: 60px;
  }
}

.header {
  transition: all ease 0.5s;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  background: #fff;
}
.header .header-holder {
  padding: 38px 0;
  transition: all 0.3s ease-in-out;
}
@media all and (max-width: 1024px) {
  .header .header-holder {
    padding: 20px 0;
  }
}
.header.fixed-header {
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
}
.header.fixed-header .header-holder {
  padding: 20px 0;
}
.header .container, .header .container-lg, .header .container-md, .header .container-sm {
  display: flex;
  align-items: center;
  position: relative;
}
@media all and (max-width: 1024px) {
  .header .container, .header .container-lg, .header .container-md, .header .container-sm {
    justify-content: space-between;
  }
}

.nav {
  flex: 1 0 auto;
}
.nav .nav-drop {
  display: none;
}

.desktop .nav-drop {
  display: block;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  font-size: 15px;
  line-height: 1;
  list-style: none;
  margin: 0 0 0 25px;
  padding: 0;
  color: #666;
}
.nav-menu li:not(:last-child) {
  margin-right: 30px;
}
.nav-menu li a:not(.btn) {
  color: #666;
  font-family: "SF Pro Display Bold", sans-serif;
  display: flex;
  align-items: center;
  font-weight: 800;
  transition: all 0.3s ease-in-out;
  font-size: 15px;
  text-decoration: none;
}
.nav-menu li a:not(.btn) svg {
  margin-left: 6px;
}
.nav-menu li a:not(.btn) svg path {
  transition: stroke 0.3s ease-in-out;
}
.nav-menu li a:not(.btn):hover, .nav-menu li a:not(.btn).active {
  color: #000;
}
.nav-menu li a:not(.btn):hover svg path, .nav-menu li a:not(.btn).active svg path {
  stroke: #000;
}
.nav-menu li .btn {
  width: auto;
}
.nav-menu li.active a {
  color: #000;
}

@media all and (max-width: 1024px) {
  .nav {
    flex-flow: row-reverse;
    flex: 0 0 auto;
  }
  .nav .nav-opener {
    width: 28px;
    height: 28px;
    position: relative;
    display: block;
    z-index: 4;
  }
  .nav .nav-opener:after, .nav .nav-opener:before, .nav .nav-opener span {
    content: "";
    position: absolute;
    right: 2px;
    height: 0;
    width: 24px;
    border-radius: 2px;
    border: 2px solid #000;
    transition: all 0.2s ease-in-out;
  }
  .nav .nav-opener:after {
    top: 12px;
  }
  .nav .nav-opener:before {
    top: 20px;
  }
  .nav .nav-opener span {
    top: 4px;
  }
  .nav .nav-drop {
    display: flex;
    position: fixed;
    z-index: 3;
    left: 100vw;
    top: 0;
    width: 100vw;
    height: 100%;
    margin: 0;
    background: #fff;
    pointer-events: none;
    will-change: transform;
    transition: transform 1.1s cubic-bezier(0.075, 0.82, 0.165, 1) 0.7s;
  }
  .nav .nav-drop:after, .nav .nav-drop:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
  }
  .nav .nav-drop:before {
    z-index: 1;
    width: 71vw;
    background: #fff;
    transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0.8s;
  }
  .nav .nav-drop:after {
    z-index: 2;
    width: 100vw;
    background: #0000EE;
    transition: width 1.1s cubic-bezier(0.075, 0.82, 0.165, 1) 0.6s;
  }
  .resize-active .nav .nav-drop {
    transition: none;
  }
  .nav.nav-active .nav-opener:after, .nav.nav-active .nav-opener:before {
    content: "";
    transform: rotate(-45deg);
    top: 50%;
    width: 33px;
    right: 0;
    border-radius: 50px;
    transition: all 0.2s ease-in-out;
  }
  .nav.nav-active .nav-opener:before {
    display: block;
    transform: rotate(45deg);
  }
  .nav.nav-active .nav-opener span {
    opacity: 0;
    visibility: hidden;
  }
  .nav.nav-active .nav-opener span:after {
    opacity: 0;
    visibility: hidden;
  }
  .nav.nav-active .nav-drop {
    pointer-events: auto;
    transform: translate3d(-100vw, 0, 0);
    transition: transform 1.4s cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
  }
  .nav.nav-active .nav-drop:before {
    transform: translate3d(-70vw, 0, 0);
    transition: transform 1.4s cubic-bezier(0.075, 0.82, 0.165, 1) 0.1s;
  }
  .nav.nav-active .nav-drop:after {
    width: 7vw;
    transition: width 1.4s cubic-bezier(0.075, 0.82, 0.165, 1) 0.25s;
  }
  .nav .nav-menu {
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding-left: 7vw;
    padding-top: 64px;
    overflow-y: auto;
    width: 100%;
    background: #fff;
    position: relative;
  }
}
@media screen and (max-width: 1024px) and (-ms-high-contrast: active), (max-width: 1024px) and (-ms-high-contrast: none) {
  .nav .nav-menu {
    display: block;
  }
}
@media all and (max-width: 1024px) {
  .nav .nav-menu:before {
    content: "";
    display: none;
    position: fixed;
    width: calc(100% - 7vw);
    height: 64px;
    top: 0;
    left: 7vw;
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0.8) 1%, rgba(255, 255, 255, 0.8) 85%, white 86%, white 100%);
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.8) 1%, rgba(255, 255, 255, 0.8) 85%, white 86%, white 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0.8) 1%, rgba(255, 255, 255, 0.8) 85%, white 86%, white 100%);
    z-index: 1;
  }
}
@media all and (max-width: 1024px) {
  .nav .nav-menu > li {
    font-size: 16px;
    display: block;
    width: 100%;
    padding: 13px 7vw;
  }
  .nav .nav-menu > li > a:not(.btn) {
    font-size: 16px;
    line-height: 20px;
  }
}
@media all and (max-width: 1024px) {
  .nav.nav-active .nav-menu:before {
    display: block;
  }
}
.scroll-none {
  overflow: hidden;
}

.tablet .main {
  padding-top: 64px;
}
.tablet .container, .tablet .container-lg, .tablet .container-md, .tablet .container-sm {
  justify-content: space-between;
}
.tablet .header-holder {
  padding: 20px 0;
}
.tablet .nav {
  flex-flow: row-reverse;
  flex: 0 0 auto;
}
.tablet .nav .nav-opener {
  width: 28px;
  height: 28px;
  position: relative;
  display: block;
  z-index: 4;
}
.tablet .nav .nav-opener:after, .tablet .nav .nav-opener:before, .tablet .nav .nav-opener span {
  content: "";
  position: absolute;
  right: 2px;
  height: 0;
  width: 24px;
  border-radius: 2px;
  border: 2px solid #000;
  transition: all 0.2s ease-in-out;
}
.tablet .nav .nav-opener:after {
  top: 12px;
}
.tablet .nav .nav-opener:before {
  top: 20px;
}
.tablet .nav .nav-opener span {
  top: 4px;
}
.tablet .nav .nav-drop {
  display: flex;
  position: fixed;
  z-index: 3;
  left: 100vw;
  top: 0;
  width: 100vw;
  height: 100%;
  margin: 0;
  background: #fff;
  pointer-events: none;
  will-change: transform;
  transition: transform 1.1s cubic-bezier(0.075, 0.82, 0.165, 1) 0.7s;
}
.tablet .nav .nav-drop:after, .tablet .nav .nav-drop:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
}
.tablet .nav .nav-drop:before {
  z-index: 1;
  width: 71vw;
  background: #fff;
  transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0.8s;
}
.tablet .nav .nav-drop:after {
  z-index: 2;
  width: 100vw;
  background: #0000EE;
  transition: width 1.1s cubic-bezier(0.075, 0.82, 0.165, 1) 0.6s;
}
.resize-active .tablet .nav .nav-drop {
  transition: none;
}
.tablet .nav.nav-active .nav-opener {
  position: fixed;
  right: 20px;
  top: 12px;
}
.tablet .nav.nav-active .nav-opener:after, .tablet .nav.nav-active .nav-opener:before {
  content: "";
  transform: rotate(-45deg);
  top: 50%;
  width: 33px;
  right: 0;
  border-radius: 50px;
  transition: all 0.2s ease-in-out;
}
.tablet .nav.nav-active .nav-opener:before {
  display: block;
  transform: rotate(45deg);
}
.tablet .nav.nav-active .nav-opener span {
  opacity: 0;
  visibility: hidden;
}
.tablet .nav.nav-active .nav-opener span:after {
  opacity: 0;
  visibility: hidden;
}
.tablet .nav.nav-active .nav-drop {
  pointer-events: auto;
  transform: translate3d(-100vw, 0, 0);
  transition: transform 1.4s cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
}
.tablet .nav.nav-active .nav-drop:before {
  transform: translate3d(-70vw, 0, 0);
  transition: transform 1.4s cubic-bezier(0.075, 0.82, 0.165, 1) 0.1s;
}
.tablet .nav.nav-active .nav-drop:after {
  width: 7vw;
  transition: width 1.4s cubic-bezier(0.075, 0.82, 0.165, 1) 0.25s;
}
.tablet .nav .nav-menu {
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  padding-left: 7vw;
  padding-top: 64px;
  overflow-y: auto;
  width: 100%;
  background: #fff;
  position: relative;
}
.tablet .nav .nav-menu:before {
  content: "";
  display: none;
  position: fixed;
  width: calc(100% - 7vw);
  height: 64px;
  top: 0;
  left: 7vw;
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0.8) 1%, rgba(255, 255, 255, 0.8) 85%, white 86%, white 100%);
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.8) 1%, rgba(255, 255, 255, 0.8) 85%, white 86%, white 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0.8) 1%, rgba(255, 255, 255, 0.8) 85%, white 86%, white 100%);
  z-index: 1;
}
.tablet .nav .nav-menu > li {
  font-size: 16px;
  display: block;
  width: 100%;
  padding: 13px 7vw;
}
.tablet .nav .nav-menu > li > a:not(.btn) {
  font-size: 16px;
  line-height: 20px;
}
.tablet .nav.nav-active .nav-menu:before {
  display: block;
}

.mobile .main {
  padding-top: 64px;
}
.mobile .container, .mobile .container-lg, .mobile .container-md, .mobile .container-sm {
  justify-content: space-between;
}
.mobile .header-holder {
  padding: 20px 0;
}
.mobile .nav {
  flex-flow: row-reverse;
  flex: 0 0 auto;
}
.mobile .nav .nav-opener {
  width: 28px;
  height: 28px;
  position: relative;
  display: block;
  z-index: 4;
}
.mobile .nav .nav-opener:after, .mobile .nav .nav-opener:before, .mobile .nav .nav-opener span {
  content: "";
  position: absolute;
  right: 2px;
  height: 0;
  width: 24px;
  border-radius: 2px;
  border: 2px solid #000;
  transition: all 0.2s ease-in-out;
}
.mobile .nav .nav-opener:after {
  top: 12px;
}
.mobile .nav .nav-opener:before {
  top: 20px;
}
.mobile .nav .nav-opener span {
  top: 4px;
}
.mobile .nav .nav-drop {
  display: flex;
  position: fixed;
  z-index: 3;
  left: 100vw;
  top: 0;
  width: 100vw;
  height: 100%;
  margin: 0;
  background: #fff;
  pointer-events: none;
  will-change: transform;
  transition: transform 1.1s cubic-bezier(0.075, 0.82, 0.165, 1) 0.7s;
}
.mobile .nav .nav-drop:after, .mobile .nav .nav-drop:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
}
.mobile .nav .nav-drop:before {
  z-index: 1;
  width: 71vw;
  background: #fff;
  transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0.8s;
}
.mobile .nav .nav-drop:after {
  z-index: 2;
  width: 100vw;
  background: #0000EE;
  transition: width 1.1s cubic-bezier(0.075, 0.82, 0.165, 1) 0.6s;
}
.resize-active .mobile .nav .nav-drop {
  transition: none;
}
.mobile .nav.nav-active .nav-opener:after, .mobile .nav.nav-active .nav-opener:before {
  content: "";
  transform: rotate(-45deg);
  top: 50%;
  width: 33px;
  right: 0;
  border-radius: 50px;
  transition: all 0.2s ease-in-out;
}
.mobile .nav.nav-active .nav-opener:before {
  display: block;
  transform: rotate(45deg);
}
.mobile .nav.nav-active .nav-opener span {
  opacity: 0;
  visibility: hidden;
}
.mobile .nav.nav-active .nav-opener span:after {
  opacity: 0;
  visibility: hidden;
}
.mobile .nav.nav-active .nav-drop {
  pointer-events: auto;
  transform: translate3d(-100vw, 0, 0);
  transition: transform 1.4s cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
}
.mobile .nav.nav-active .nav-drop:before {
  transform: translate3d(-70vw, 0, 0);
  transition: transform 1.4s cubic-bezier(0.075, 0.82, 0.165, 1) 0.1s;
}
.mobile .nav.nav-active .nav-drop:after {
  width: 7vw;
  transition: width 1.4s cubic-bezier(0.075, 0.82, 0.165, 1) 0.25s;
}
.mobile .nav .nav-menu {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0;
  padding-left: 7vw;
  padding-top: 84px;
  overflow-y: auto;
  width: 100%;
  background: #fff;
  position: relative;
}
.mobile .nav .nav-menu:before {
  content: "";
  display: none;
  position: fixed;
  width: calc(100% - 7vw);
  height: 84px;
  top: 0;
  left: 7vw;
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0.8) 1%, rgba(255, 255, 255, 0.8) 85%, white 86%, white 100%);
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.8) 1%, rgba(255, 255, 255, 0.8) 85%, white 86%, white 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0.8) 1%, rgba(255, 255, 255, 0.8) 85%, white 86%, white 100%);
  z-index: 1;
}
.mobile .nav .nav-menu > li {
  font-size: 16px;
  display: block;
  width: 100%;
  padding: 13px 7vw;
}
.mobile .nav .nav-menu > li > a:not(.btn) {
  font-size: 16px;
  line-height: 20px;
}
.mobile .nav.nav-active .nav-menu:before {
  display: block;
}

.logo a {
  display: flex;
}
.logo img {
  vertical-align: top;
  max-width: 176px;
  max-height: 48px;
}
@media all and (max-width: 1024px) {
  .logo img {
    max-width: 100px;
    max-height: 28px;
  }
}

.two-columns {
  display: flex;
  flex-wrap: wrap;
}
.two-columns .two-columns-item {
  width: 100%;
  margin-bottom: 30px;
}
@media all and (min-width: 768px) {
  .two-columns {
    justify-content: space-between;
  }
  .two-columns .two-columns-item {
    width: calc(50% - 15px);
  }
}
@media all and (max-width: 767px) {
  .two-columns.testing-process .first-column {
    order: 2;
  }
}

.org {
  margin-top: 20px;
}
.org .two-columns .two-columns-item {
  padding: 15px 0 0 12px;
  background: #fff;
  display: flex;
  flex-direction: column;
}
.org .two-columns .two-columns-item a {
  margin-bottom: 29px;
  display: inline-block;
}
@media all and (min-width: 768px) {
  .org .two-columns .two-columns-item {
    padding: 40px 0 0 40px;
  }
  .org .two-columns .two-columns-item a {
    margin-bottom: 34px;
  }
}
.org p {
  margin-bottom: 10px;
  margin-right: 20px;
}
.org img {
  margin-top: auto;
}

.card img {
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  margin-bottom: 16px;
}
.card p {
  margin-bottom: 8px;
}
.card a {
  font-weight: 500;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.card a:hover {
  text-decoration: underline;
}
.card a svg {
  margin-left: 5px;
}

.three-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -15px;
}
.three-columns .three-columns-item {
  margin: 0 15px 30px;
}
@media all and (min-width: 768px) {
  .three-columns .three-columns-item {
    flex: 1;
    flex-basis: calc(33% - 30px);
  }
}
@media all and (max-width: 767px) {
  .three-columns .three-columns-item {
    margin-bottom: 10px;
  }
}

.extensions {
  position: relative;
}
.extensions:after {
  content: "";
  display: block;
  position: relative;
  margin-top: -200px;
  width: 100%;
  height: 200px;
  background: linear-gradient(180deg, rgba(244, 244, 244, 0) 0%, #f4f4f4 80%);
  bottom: 0;
  left: 0;
}
.extensions .three-columns-item {
  display: flex;
}
@media all and (max-width: 767px) {
  .extensions {
    max-height: 650px;
    overflow: hidden;
  }
  .extensions:after {
    position: absolute;
  }
}

.all-extensions {
  position: absolute;
  bottom: 57px;
  text-align: center;
  left: 0;
  width: 100%;
  z-index: 1;
  padding: 0 20px;
}

.extension-box {
  background: #fff;
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.2);
  border-radius: 22px;
  padding: 20px;
}
@media all and (max-width: 767px) {
  .extension-box {
    padding: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
}
.extension-box h3 {
  color: #333;
  margin-bottom: 12px;
}
@media all and (max-width: 767px) {
  .extension-box h3 {
    margin-bottom: 0;
  }
}
.extension-box p {
  font-size: 18px;
}
@media all and (max-width: 767px) {
  .extension-box p {
    font-size: 14px;
  }
}
.extension-box span {
  font-size: 14px;
}
@media all and (max-width: 767px) {
  .extension-box span {
    font-size: 10px;
  }
}
.extension-box span.author {
  color: #666;
  display: inline-flex;
  align-items: center;
}
.extension-box span.rate {
  color: #333;
  display: inline-flex;
  align-items: center;
}
.extension-box span.rate img {
  margin: 0 4px;
}

.slick-slide {
  outline: none;
}

.quotes-slider {
  margin: 110px 0 90px;
  padding: 0;
  list-style: none;
}
@media all and (max-width: 767px) {
  .quotes-slider {
    margin: 50px 0;
  }
}
.quotes-slider .slick-list {
  overflow: visible;
}
.quotes-slider .slick-dots li:only-child {
  display: none;
}

.quotes-item {
  display: flex;
}
@media all and (max-width: 767px) {
  .quotes-item {
    flex-direction: column;
  }
}
.quotes-item .quotes-item-icon {
  flex-shrink: 0;
  margin-right: 30px;
}
@media all and (max-width: 767px) {
  .quotes-item .quotes-item-icon {
    margin-left: -25px;
    margin-bottom: 10px;
  }
}
.quotes-item .quotes-item-text {
  text-align: left;
  max-width: 625px;
}
.quotes-item .quotes-item-text p {
  margin-bottom: 18px;
}
.quotes-item .quotes-item-text .author {
  display: block;
}
.quotes-item .quotes-item-text .adr {
  font-size: 16px;
}

.author-box {
  display: flex;
  align-items: center;
}
.author-box .author-box-ava {
  margin-right: 20px;
  width: 80px;
  height: 80px;
  border-radius: 80px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.author-box .author-box-ava img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  font-family: "object-fit: cover;";
}

.fancybox-content {
  max-width: 560px;
  width: 100%;
  background: #fff;
  padding: 48px 64px;
}
@media all and (max-width: 767px) {
  .fancybox-content {
    padding: 48px 15px;
  }
}
.fancybox-content h3,
.fancybox-content h4 {
  margin-bottom: 8px;
}

.fancybox-slide--html .fancybox-close-small {
  padding: 5px;
  color: #0000EE;
}

.thanks-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo {
  margin-top: 20px;
}
.photo img {
  object-fit: cover;
  margin: 0 auto;
  height: 100%;
  font-family: "object-fit: cover;";
}

.grey-card {
  background: #f4f4f4;
  padding: 20px;
}
.grey-card ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
@media all and (min-width: 768px) {
  .grey-card ul li {
    width: 50%;
  }
}
.grey-card ul li a {
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-flex;
  align-items: center;
}
.grey-card ul li a:hover {
  text-decoration: underline;
}
.grey-card ul li a svg {
  margin-left: 8px;
}

.team-list {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.team-list > li {
  margin: 0 15px 30px;
}
@media all and (min-width: 768px) {
  .team-list > li {
    flex-basis: calc(50% - 30px);
  }
}
@media all and (min-width: 1024px) {
  .team-list > li {
    flex-basis: calc(33% - 30px);
  }
}

.member {
  display: flex;
}
.member .member-ava {
  margin-right: 20px;
  border-radius: 6px;
  overflow: hidden;
  width: 100px;
  height: 120px;
  flex-shrink: 0;
  position: relative;
}
.member .member-ava img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  font-family: "object-fit: cover;";
}
.member .member-info .h4 {
  margin: 10px 0;
}
.member .member-info p {
  margin: 12px 0;
}
@media all and (max-width: 1023px) {
  .member.big {
    display: block;
  }
}
.member.big .member-ava {
  width: 190px;
  height: 190px;
}
@media all and (max-width: 1023px) {
  .member.big .member-ava {
    margin: 0 auto 20px;
  }
}
@media all and (max-width: 500px) {
  .member.big .member-ava {
    width: 100%;
    height: 200px;
  }
}
.member.big .member-info .h3 {
  color: #333;
}
.member.big .member-info .h4 {
  font-family: "SF Pro Display", sans-serif;
  font-weight: 400;
  font-size: 18px;
}
.member.big .member-info p {
  font-size: 16px;
  margin-bottom: 0px;
}

.social {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}
.social li {
  display: inline-block;
  margin-right: 16px;
}
.social li a svg path {
  transition: fill 0.3s ease-in-out;
}
.social li a:hover svg path {
  fill: #000;
}
.social.bigger svg path {
  fill: #333;
}

.arrow-down {
  color: #666;
  text-decoration: none;
  font-size: 16px;
  margin-bottom: 15px;
  display: inline-flex;
  align-items: center;
}
.arrow-down:hover {
  color: #666;
  text-decoration: underline;
}
.arrow-down svg {
  transform: rotate(90deg);
  margin-left: 6px;
}
.arrow-down svg path {
  fill: #666;
}

.modal__header {
  margin-top: -15px;
  margin-bottom: -20px;
}

.modal__container {
  padding-right: 15px !important;
  padding-bottom: 15px !important;
}
